*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightgray;
}
.logo-title{
    height: 100px;
    border: 1px solid black;
    background-color: white;
}

img{
    vertical-align: middle;
}

.title {
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
    font-size: 3rem;
}

main{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.nav{
    background-color: white;
    height: 60px;
    margin-top: 30px;
    line-height: 60px;
    padding-left: 30px;
    border-radius: 10px 10px 0 0;
 }

 button{
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    color: grey;
 }

 .task{
    background-color: #63abeb;
    color: white;
 }

 .nav-list{
    height: auto;
    background-color: white;
    margin-top: 5px;
    padding: 30px;
 }
 
 li{
    list-style-type: none;
 }

.button{
    color: white; 
    background-color: #63abeb;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
 }

.arrow{
    font-size: 0.8rem;
}
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
 }

.new-task{
    margin-bottom: 15px;
}

.button-violet {
    background-color: #9674dd;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
}

.space{
    padding-bottom: 1.5rem;
}

.cross{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
}

.button-green{
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
    background-color: #7BBEAA;
}
.button-orange{
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
    background-color: #E6A24B;
}